.cfx:before,
.cfx:after {
  content: " ";
  display: table;
}
.cfx:after {
  clear: both;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.regular {
  clear: both;
  text-align: left;
}
.regular:before,
.regular:after {
  content: " ";
  display: table;
}
.regular:after {
  clear: both;
}
.regular:before,
.regular:after {
  content: " ";
  display: table;
}
.regular:after {
  clear: both;
}
.regular + .regular {
  margin-top: 10px;
}
.inline {
  float: left;
  clear: none;
}
.inline + .inline {
  margin-left: 5px;
}
.inline.right {
  float: right;
}
.inline.right + .inline.right {
  margin-left: 0;
  margin-right: 5px;
}
.hide {
  display: none !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block;
}
.help-block {
  font-size: 0.9em;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.marked-for-removal {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  background: #f2dede;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.readonly,
.disabled,
[disabled] {
  pointer-events: none !important;
  cursor: default;
  text-decoration: none !important;
  opacity: 0.5;
}
.padding-0 {
  padding: 0px;
}
.padding-t0 {
  padding-top: 0px;
}
.padding-b0 {
  padding-bottom: 0px;
}
.padding-l0 {
  padding-left: 0px;
}
.padding-r0 {
  padding-right: 0px;
}
.padding-1 {
  padding: 1px;
}
.padding-t1 {
  padding-top: 1px;
}
.padding-b1 {
  padding-bottom: 1px;
}
.padding-l1 {
  padding-left: 1px;
}
.padding-r1 {
  padding-right: 1px;
}
.padding-2 {
  padding: 2px;
}
.padding-t2 {
  padding-top: 2px;
}
.padding-b2 {
  padding-bottom: 2px;
}
.padding-l2 {
  padding-left: 2px;
}
.padding-r2 {
  padding-right: 2px;
}
.padding-3 {
  padding: 3px;
}
.padding-t3 {
  padding-top: 3px;
}
.padding-b3 {
  padding-bottom: 3px;
}
.padding-l3 {
  padding-left: 3px;
}
.padding-r3 {
  padding-right: 3px;
}
.padding-4 {
  padding: 4px;
}
.padding-t4 {
  padding-top: 4px;
}
.padding-b4 {
  padding-bottom: 4px;
}
.padding-l4 {
  padding-left: 4px;
}
.padding-r4 {
  padding-right: 4px;
}
.padding-5 {
  padding: 5px;
}
.padding-t5 {
  padding-top: 5px;
}
.padding-b5 {
  padding-bottom: 5px;
}
.padding-l5 {
  padding-left: 5px;
}
.padding-r5 {
  padding-right: 5px;
}
.padding-6 {
  padding: 6px;
}
.padding-t6 {
  padding-top: 6px;
}
.padding-b6 {
  padding-bottom: 6px;
}
.padding-l6 {
  padding-left: 6px;
}
.padding-r6 {
  padding-right: 6px;
}
.padding-7 {
  padding: 7px;
}
.padding-t7 {
  padding-top: 7px;
}
.padding-b7 {
  padding-bottom: 7px;
}
.padding-l7 {
  padding-left: 7px;
}
.padding-r7 {
  padding-right: 7px;
}
.padding-8 {
  padding: 8px;
}
.padding-t8 {
  padding-top: 8px;
}
.padding-b8 {
  padding-bottom: 8px;
}
.padding-l8 {
  padding-left: 8px;
}
.padding-r8 {
  padding-right: 8px;
}
.padding-9 {
  padding: 9px;
}
.padding-t9 {
  padding-top: 9px;
}
.padding-b9 {
  padding-bottom: 9px;
}
.padding-l9 {
  padding-left: 9px;
}
.padding-r9 {
  padding-right: 9px;
}
.padding-10 {
  padding: 10px;
}
.padding-t10 {
  padding-top: 10px;
}
.padding-b10 {
  padding-bottom: 10px;
}
.padding-l10 {
  padding-left: 10px;
}
.padding-r10 {
  padding-right: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-t15 {
  padding-top: 15px;
}
.padding-b15 {
  padding-bottom: 15px;
}
.padding-l15 {
  padding-left: 15px;
}
.padding-r15 {
  padding-right: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-t20 {
  padding-top: 20px;
}
.padding-b20 {
  padding-bottom: 20px;
}
.padding-l20 {
  padding-left: 20px;
}
.padding-r20 {
  padding-right: 20px;
}
.padding-25 {
  padding: 25px;
}
.padding-t25 {
  padding-top: 25px;
}
.padding-b25 {
  padding-bottom: 25px;
}
.padding-l25 {
  padding-left: 25px;
}
.padding-r25 {
  padding-right: 25px;
}
.padding-30 {
  padding: 30px;
}
.padding-t30 {
  padding-top: 30px;
}
.padding-b30 {
  padding-bottom: 30px;
}
.padding-l30 {
  padding-left: 30px;
}
.padding-r30 {
  padding-right: 30px;
}
.padding-35 {
  padding: 35px;
}
.padding-t35 {
  padding-top: 35px;
}
.padding-b35 {
  padding-bottom: 35px;
}
.padding-l35 {
  padding-left: 35px;
}
.padding-r35 {
  padding-right: 35px;
}
.padding-40 {
  padding: 40px;
}
.padding-t40 {
  padding-top: 40px;
}
.padding-b40 {
  padding-bottom: 40px;
}
.padding-l40 {
  padding-left: 40px;
}
.padding-r40 {
  padding-right: 40px;
}
.padding-45 {
  padding: 45px;
}
.padding-t45 {
  padding-top: 45px;
}
.padding-b45 {
  padding-bottom: 45px;
}
.padding-l45 {
  padding-left: 45px;
}
.padding-r45 {
  padding-right: 45px;
}
.padding-50 {
  padding: 50px;
}
.padding-t50 {
  padding-top: 50px;
}
.padding-b50 {
  padding-bottom: 50px;
}
.padding-l50 {
  padding-left: 50px;
}
.padding-r50 {
  padding-right: 50px;
}
.padding-55 {
  padding: 55px;
}
.padding-t55 {
  padding-top: 55px;
}
.padding-b55 {
  padding-bottom: 55px;
}
.padding-l55 {
  padding-left: 55px;
}
.padding-r55 {
  padding-right: 55px;
}
.padding-60 {
  padding: 60px;
}
.padding-t60 {
  padding-top: 60px;
}
.padding-b60 {
  padding-bottom: 60px;
}
.padding-l60 {
  padding-left: 60px;
}
.padding-r60 {
  padding-right: 60px;
}
.padding-65 {
  padding: 65px;
}
.padding-t65 {
  padding-top: 65px;
}
.padding-b65 {
  padding-bottom: 65px;
}
.padding-l65 {
  padding-left: 65px;
}
.padding-r65 {
  padding-right: 65px;
}
.padding-70 {
  padding: 70px;
}
.padding-t70 {
  padding-top: 70px;
}
.padding-b70 {
  padding-bottom: 70px;
}
.padding-l70 {
  padding-left: 70px;
}
.padding-r70 {
  padding-right: 70px;
}
.padding-75 {
  padding: 75px;
}
.padding-t75 {
  padding-top: 75px;
}
.padding-b75 {
  padding-bottom: 75px;
}
.padding-l75 {
  padding-left: 75px;
}
.padding-r75 {
  padding-right: 75px;
}
.padding-80 {
  padding: 80px;
}
.padding-t80 {
  padding-top: 80px;
}
.padding-b80 {
  padding-bottom: 80px;
}
.padding-l80 {
  padding-left: 80px;
}
.padding-r80 {
  padding-right: 80px;
}
.padding-85 {
  padding: 85px;
}
.padding-t85 {
  padding-top: 85px;
}
.padding-b85 {
  padding-bottom: 85px;
}
.padding-l85 {
  padding-left: 85px;
}
.padding-r85 {
  padding-right: 85px;
}
.padding-90 {
  padding: 90px;
}
.padding-t90 {
  padding-top: 90px;
}
.padding-b90 {
  padding-bottom: 90px;
}
.padding-l90 {
  padding-left: 90px;
}
.padding-r90 {
  padding-right: 90px;
}
.padding-95 {
  padding: 95px;
}
.padding-t95 {
  padding-top: 95px;
}
.padding-b95 {
  padding-bottom: 95px;
}
.padding-l95 {
  padding-left: 95px;
}
.padding-r95 {
  padding-right: 95px;
}
.padding-100 {
  padding: 100px;
}
.padding-t100 {
  padding-top: 100px;
}
.padding-b100 {
  padding-bottom: 100px;
}
.padding-l100 {
  padding-left: 100px;
}
.padding-r100 {
  padding-right: 100px;
}
.margin-0 {
  margin: 0px;
}
.margin-t0 {
  margin-top: 0px;
}
.margin-b0 {
  margin-bottom: 0px;
}
.margin-l0 {
  margin-left: 0px;
}
.margin-r0 {
  margin-right: 0px;
}
.margin-1 {
  margin: 1px;
}
.margin-t1 {
  margin-top: 1px;
}
.margin-b1 {
  margin-bottom: 1px;
}
.margin-l1 {
  margin-left: 1px;
}
.margin-r1 {
  margin-right: 1px;
}
.margin-2 {
  margin: 2px;
}
.margin-t2 {
  margin-top: 2px;
}
.margin-b2 {
  margin-bottom: 2px;
}
.margin-l2 {
  margin-left: 2px;
}
.margin-r2 {
  margin-right: 2px;
}
.margin-3 {
  margin: 3px;
}
.margin-t3 {
  margin-top: 3px;
}
.margin-b3 {
  margin-bottom: 3px;
}
.margin-l3 {
  margin-left: 3px;
}
.margin-r3 {
  margin-right: 3px;
}
.margin-4 {
  margin: 4px;
}
.margin-t4 {
  margin-top: 4px;
}
.margin-b4 {
  margin-bottom: 4px;
}
.margin-l4 {
  margin-left: 4px;
}
.margin-r4 {
  margin-right: 4px;
}
.margin-5 {
  margin: 5px;
}
.margin-t5 {
  margin-top: 5px;
}
.margin-b5 {
  margin-bottom: 5px;
}
.margin-l5 {
  margin-left: 5px;
}
.margin-r5 {
  margin-right: 5px;
}
.margin-6 {
  margin: 6px;
}
.margin-t6 {
  margin-top: 6px;
}
.margin-b6 {
  margin-bottom: 6px;
}
.margin-l6 {
  margin-left: 6px;
}
.margin-r6 {
  margin-right: 6px;
}
.margin-7 {
  margin: 7px;
}
.margin-t7 {
  margin-top: 7px;
}
.margin-b7 {
  margin-bottom: 7px;
}
.margin-l7 {
  margin-left: 7px;
}
.margin-r7 {
  margin-right: 7px;
}
.margin-8 {
  margin: 8px;
}
.margin-t8 {
  margin-top: 8px;
}
.margin-b8 {
  margin-bottom: 8px;
}
.margin-l8 {
  margin-left: 8px;
}
.margin-r8 {
  margin-right: 8px;
}
.margin-9 {
  margin: 9px;
}
.margin-t9 {
  margin-top: 9px;
}
.margin-b9 {
  margin-bottom: 9px;
}
.margin-l9 {
  margin-left: 9px;
}
.margin-r9 {
  margin-right: 9px;
}
.margin-10 {
  margin: 10px;
}
.margin-t10 {
  margin-top: 10px;
}
.margin-b10 {
  margin-bottom: 10px;
}
.margin-l10 {
  margin-left: 10px;
}
.margin-r10 {
  margin-right: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-t15 {
  margin-top: 15px;
}
.margin-b15 {
  margin-bottom: 15px;
}
.margin-l15 {
  margin-left: 15px;
}
.margin-r15 {
  margin-right: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-t20 {
  margin-top: 20px;
}
.margin-b20 {
  margin-bottom: 20px;
}
.margin-l20 {
  margin-left: 20px;
}
.margin-r20 {
  margin-right: 20px;
}
.margin-25 {
  margin: 25px;
}
.margin-t25 {
  margin-top: 25px;
}
.margin-b25 {
  margin-bottom: 25px;
}
.margin-l25 {
  margin-left: 25px;
}
.margin-r25 {
  margin-right: 25px;
}
.margin-30 {
  margin: 30px;
}
.margin-t30 {
  margin-top: 30px;
}
.margin-b30 {
  margin-bottom: 30px;
}
.margin-l30 {
  margin-left: 30px;
}
.margin-r30 {
  margin-right: 30px;
}
.margin-35 {
  margin: 35px;
}
.margin-t35 {
  margin-top: 35px;
}
.margin-b35 {
  margin-bottom: 35px;
}
.margin-l35 {
  margin-left: 35px;
}
.margin-r35 {
  margin-right: 35px;
}
.margin-40 {
  margin: 40px;
}
.margin-t40 {
  margin-top: 40px;
}
.margin-b40 {
  margin-bottom: 40px;
}
.margin-l40 {
  margin-left: 40px;
}
.margin-r40 {
  margin-right: 40px;
}
.margin-45 {
  margin: 45px;
}
.margin-t45 {
  margin-top: 45px;
}
.margin-b45 {
  margin-bottom: 45px;
}
.margin-l45 {
  margin-left: 45px;
}
.margin-r45 {
  margin-right: 45px;
}
.margin-50 {
  margin: 50px;
}
.margin-t50 {
  margin-top: 50px;
}
.margin-b50 {
  margin-bottom: 50px;
}
.margin-l50 {
  margin-left: 50px;
}
.margin-r50 {
  margin-right: 50px;
}
.margin-55 {
  margin: 55px;
}
.margin-t55 {
  margin-top: 55px;
}
.margin-b55 {
  margin-bottom: 55px;
}
.margin-l55 {
  margin-left: 55px;
}
.margin-r55 {
  margin-right: 55px;
}
.margin-60 {
  margin: 60px;
}
.margin-t60 {
  margin-top: 60px;
}
.margin-b60 {
  margin-bottom: 60px;
}
.margin-l60 {
  margin-left: 60px;
}
.margin-r60 {
  margin-right: 60px;
}
.margin-65 {
  margin: 65px;
}
.margin-t65 {
  margin-top: 65px;
}
.margin-b65 {
  margin-bottom: 65px;
}
.margin-l65 {
  margin-left: 65px;
}
.margin-r65 {
  margin-right: 65px;
}
.margin-70 {
  margin: 70px;
}
.margin-t70 {
  margin-top: 70px;
}
.margin-b70 {
  margin-bottom: 70px;
}
.margin-l70 {
  margin-left: 70px;
}
.margin-r70 {
  margin-right: 70px;
}
.margin-75 {
  margin: 75px;
}
.margin-t75 {
  margin-top: 75px;
}
.margin-b75 {
  margin-bottom: 75px;
}
.margin-l75 {
  margin-left: 75px;
}
.margin-r75 {
  margin-right: 75px;
}
.margin-80 {
  margin: 80px;
}
.margin-t80 {
  margin-top: 80px;
}
.margin-b80 {
  margin-bottom: 80px;
}
.margin-l80 {
  margin-left: 80px;
}
.margin-r80 {
  margin-right: 80px;
}
.margin-85 {
  margin: 85px;
}
.margin-t85 {
  margin-top: 85px;
}
.margin-b85 {
  margin-bottom: 85px;
}
.margin-l85 {
  margin-left: 85px;
}
.margin-r85 {
  margin-right: 85px;
}
.margin-90 {
  margin: 90px;
}
.margin-t90 {
  margin-top: 90px;
}
.margin-b90 {
  margin-bottom: 90px;
}
.margin-l90 {
  margin-left: 90px;
}
.margin-r90 {
  margin-right: 90px;
}
.margin-95 {
  margin: 95px;
}
.margin-t95 {
  margin-top: 95px;
}
.margin-b95 {
  margin-bottom: 95px;
}
.margin-l95 {
  margin-left: 95px;
}
.margin-r95 {
  margin-right: 95px;
}
.margin-100 {
  margin: 100px;
}
.margin-t100 {
  margin-top: 100px;
}
.margin-b100 {
  margin-bottom: 100px;
}
.margin-l100 {
  margin-left: 100px;
}
.margin-r100 {
  margin-right: 100px;
}
.clear-left {
  clear: left !important;
}
.clear-right {
  clear: right !important;
}
.clear-both {
  clear: both !important;
}
.transparent {
  filter: alpha(opacity=0);
  opacity: 0;
}
.not-transparent {
  filter: alpha(opacity=1);
  opacity: 1;
}
.nobr {
  white-space: nowrap;
}
.charcount {
  width: 43px;
  height: 22px;
  color: #787878;
}
.error-field {
  border-color: #97122e !important;
  background-color: #f0859b !important;
}
.width-100 {
  width: 100%;
}
.width-50 {
  width: 50%;
}
.width-30 {
  width: 33%;
}
.cursor-default {
  cursor: default !important;
}
.cursor-clickable {
  cursor: pointer !important;
}
.cursor-movable {
  cursor: move !important;
}
.cursor-helpable {
  cursor: help !important;
}
.expandable {
  position: relative;
  margin-left: 7px;
}
.expandable:before {
  content: "\f196";
  position: absolute;
  left: -15px;
  font-family: FontAwesome;
  font-weight: normal;
}
.expandable.expanded:before {
  content: "\f147";
}
.expandable-offset {
  position: relative;
  margin-left: 22px;
}
.pos-absolute {
  position: absolute !important;
  z-index: 501;
}
.pos-fixed {
  position: fixed !important;
  z-index: 501;
}
.pos-relative {
  position: relative !important;
}
.div-center-hor {
  margin-left: auto !important;
  margin-right: auto !important;
}
.div-center-vert {
  min-height: 6.5em;
  display: table-cell;
  vertical-align: middle;
}
.overflow,
.not-scrollable {
  overflow: hidden !important;
}
.no-overflow {
  overflow: visible !important;
}
.scrollable {
  overflow: auto !important;
}
.scrollable-y {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.scrollable-x {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
.boxshadow {
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.boxshadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-filter: none !important;
          filter: none !important;
}
.border-dashed {
  border: 1px dashed #ccc;
}
.border-dashed-gray-darker {
  border-color: #222;
}
.border-dashed-gray-dark {
  border-color: #212529;
}
.border-dashed-gray {
  border-color: #555;
}
.border-dashed-gray-light {
  border-color: #777;
}
.border-dashed-gray-lighter {
  border-color: #eee;
}
.border-dashed-white {
  border-color: #fff;
}
.border-dashed-black {
  border-color: #000;
}
.border-dashed-red {
  border-color: #c4183c;
}
.border-dashed-green {
  border-color: #17c671;
}
.border-dashed-yellow {
  border-color: #ffb400;
}
.border-dashed-blue {
  border-color: #6cbb23;
}
.border-dashed-blue-light {
  border-color: #00b8d8;
}
.border-dotted {
  border: 1px dotted #ccc;
}
.border-dotted-gray-darker {
  border-color: #222;
}
.border-dotted-gray-dark {
  border-color: #212529;
}
.border-dotted-gray {
  border-color: #555;
}
.border-dotted-gray-light {
  border-color: #777;
}
.border-dotted-gray-lighter {
  border-color: #eee;
}
.border-dotted-white {
  border-color: #fff;
}
.border-dotted-black {
  border-color: #000;
}
.border-dotted-red {
  border-color: #c4183c;
}
.border-dotted-green {
  border-color: #17c671;
}
.border-dotted-yellow {
  border-color: #ffb400;
}
.border-dotted-blue {
  border-color: #6cbb23;
}
.border-dotted-blue-light {
  border-color: #00b8d8;
}
.border-none {
  border: none !important;
}
.corner-r3 {
  border-radius: 3px;
}
.corner-r5 {
  border-radius: 5px;
}
.corner-r7 {
  border-radius: 7px;
}
.corner-r9 {
  border-radius: 9px;
}
.corner-r11 {
  border-radius: 11px;
}
.corner-r13 {
  border-radius: 13px;
}
.corner-r15 {
  border-radius: 15px;
}
.corner-r17 {
  border-radius: 17px;
}
.corner-r19 {
  border-radius: 19px;
}
.text-thin {
  font-weight: lighter;
}
.text-underline {
  text-decoration: underline !important;
}
.text-nounderline {
  text-decoration: none !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-weight-100 {
  font-weight: 100;
}
.text-weight-200 {
  font-weight: 200;
}
.text-weight-300 {
  font-weight: 300;
}
.text-weight-400 {
  font-weight: 400;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-smallcaps {
  text-transform: lowercase;
  font-variant: small-caps;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-ucase {
  text-transform: uppercase !important;
}
.text-lcase {
  text-transform: lowercase !important;
  font-variant: normal !important;
}
.text-italic {
  font-style: italic !important;
}
.text-shadow {
  text-shadow: 1px 1px #eee;
}
.text-spacing {
  letter-spacing: 0.5px;
}
.text-blink {
  text-decoration: blink !important;
}
.text-reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.text-gray-darker {
  color: #222;
}
.text-gray-dark {
  color: #212529;
}
.text-gray {
  color: #555;
}
.text-gray-light {
  color: #777;
}
.text-gray-lighter {
  color: #eee;
}
.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.text-red {
  color: #c4183c;
}
.text-green {
  color: #17c671;
}
.text-yellow {
  color: #ffb400;
}
.text-blue {
  color: #6cbb23;
}
.text-blue-light {
  color: #00b8d8;
}
.text-size-07x {
  font-size: 0.7em;
}
.text-size-08x {
  font-size: 0.8em;
}
.text-size-09x {
  font-size: 0.9em;
}
.text-size-0x {
  font-size: 1em;
}
.text-size-1x,
.text-size-larger {
  font-size: 1.1em;
}
.text-size-2x {
  font-size: 1.2em;
}
.text-size-3x {
  font-size: 1.5em;
}
.text-size-5x,
.text-size-jumbo {
  font-size: 2em;
}
.ghost {
  position: absolute !important;
  left: -2000px !important;
  width: 0 !important;
  height: 0 !important;
  border: 0 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}
table.borderless {
  border: 0 !important;
  margin: 0 !important;
}
table.borderless th,
table.borderless td {
  border: 0 !important;
  vertical-align: top !important;
}
