.timer-countdown {
  color: #000;
  background: transparent;
  padding: 0;
}
.timer-countdown.timer-countdown-standalone {
  background: #000;
  color: #fff;
  padding: 2px 5px;
}
.timer-countdown.timer-countdown-white {
  color: #fff;
}
.timer-countdown.timer-countdown-gray {
  color: #777;
}
.timer-countdown.timer-countdown-red {
  color: #a94442;
}
.timer-countdown.timer-countdown-black {
  color: #000;
}
.timer-countdown.timer-countdown-green {
  color: #3c763d;
}
