/* spinner circle rotation */
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px #2f7deb solid;
  border-radius: 50%;
  -webkit-animation: sp-circ-rot 0.6s infinite linear;
  animation: sp-circ-rot 0.6s infinite linear;
}
@-webkit-keyframes sp-circ-rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes sp-circ-rot {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.body-overlay {
  z-index: 1000000;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #eee;
  cursor: wait;
  position: fixed;
}
.body-overlay-msg {
  z-index: 1000001;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #969696;
  border: none;
  background-color: transparent;
  cursor: wait;
}
.body-overlay-msg span {
  display: block;
}
.msg {
  display: none;
}
