.box {
  position: fixed;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  visibility: hidden;
  z-index: 1001;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
  overflow: hidden;
}
.box[style*='display: block'] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.box.box-center {
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  left: 50%;
  top: 50%;
}
.box.input-box .box-mainbody {
  position: relative;
}
.box.light .box-outer .box-inner {
  padding: 0 15px 0 0;
}
.box.light .box-outer .box-inner .box-mainbody {
  margin: 0;
}
.box.light .box-outer .box-top-buttons a:last-child {
  margin-right: 0;
}
.box.box-confirm {
  border: none;
}
.box.box-confirm button + button {
  margin-left: 5px;
}
.box.box-red,
.box.box-yellow,
.box.box-blue,
.box.box-green,
.box.box-gray {
  z-index: 10000000 !important;
}
.box.box-red .box-outer,
.box.box-yellow .box-outer,
.box.box-blue .box-outer,
.box.box-green .box-outer,
.box.box-gray .box-outer,
.box.box-red .box-inner,
.box.box-yellow .box-inner,
.box.box-blue .box-inner,
.box.box-green .box-inner,
.box.box-gray .box-inner {
  background: transparent;
}
.box.box-red ul.box-top-buttons,
.box.box-yellow ul.box-top-buttons,
.box.box-blue ul.box-top-buttons,
.box.box-green ul.box-top-buttons,
.box.box-gray ul.box-top-buttons {
  top: -10px;
  right: -10px;
}
.box-center-support {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.box-outer {
  position: relative;
  z-index: 503;
  padding: 0;
  margin: 0;
  background: #fff;
  overflow-y: auto;
}
.box-resize-dims .box-outer {
  height: 100% !important;
}
.box-inner {
  padding: 0 20px 20px 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.box-hd {
  position: relative;
  height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}
.box-hd-title {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
  color: #777;
  font-style: italic;
  padding-left: 10px;
}
.box-hd-title > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-hd-title > span a:not(.box-boxcls) {
  text-decoration: none;
}
.box-hd-title > span a:not(.box-boxcls):hover {
  text-decoration: underline;
}
.box-timestamp {
  margin-right: 10px;
}
.box-top-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin-left: auto;
}
.box-top-buttons a {
  font-size: 1.1rem;
}
.box-top-buttons a i.mdi {
  color: #000;
  opacity: 0.5;
}
.box-top-buttons a i.mdi:hover {
  color: #999;
}
.box-top-buttons a:last-child {
  margin-right: 2px;
}
.alert-box .box-top-buttons {
  top: -10px;
  right: -13px;
}
.box-top-buttons-maximize {
  margin-right: 3px;
}
.box-top-buttons-maximize .mdi-24px:before {
  font-size: 22px;
}
.maximized .box-top-buttons-maximize {
  background: #eee;
}
.box-mainbody {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-bahavior: contain;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.box-mainbody .form-group {
  margin-left: 0;
  margin-right: 0;
}
.box-controls {
  position: relative;
  margin-top: auto;
  padding: 0;
}
.box-controls.expressed {
  background: #eaeaea;
}
.box-controls .controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}
.box-controls .box-controls-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}
.box-controls .box-controls-result {
  margin-left: 10px;
  font-weight: normal;
  color: #555;
  min-width: 1px;
}
.box-controls .box-controls-close {
  margin-left: auto;
  margin-right: 12px;
}
.box-confirm .box-controls,
.alert-box .box-controls {
  display: none;
}
[data-box-allow-close="false"] .box-controls-close,
[data-box-allow-close="false"] .box-top-buttons-close {
  display: none;
}
.box-scrollable {
  background: transparent;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 0 none;
  overflow-x: auto;
  overflow-y: scroll;
}
.box-scrollable .box {
  position: relative;
  margin: 30px auto;
}
/*
	ALERT Box
	=================================================
*/
.box-red,
.box-yellow,
.box-green,
.box-blue,
.box-gray {
  padding: 10px;
  margin-bottom: 10px;
  font-size: .875rem;
  background-color: #ffffffd9;
  background-clip: padding-box;
  border: 1px solid #0000001a;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top: 3px solid #44a2c6;
  color: #000;
}
.box-red a,
.box-yellow a,
.box-green a,
.box-blue a,
.box-gray a {
  background: none;
  padding: 0;
  margin: 0;
}
.box-red i.mdi,
.box-yellow i.mdi,
.box-green i.mdi,
.box-blue i.mdi,
.box-gray i.mdi {
  margin-right: 10px;
}
.box-red .alert-box-content,
.box-yellow .alert-box-content,
.box-green .alert-box-content,
.box-blue .alert-box-content,
.box-gray .alert-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}
.box-red .alert-box-content i + span,
.box-yellow .alert-box-content i + span,
.box-green .alert-box-content i + span,
.box-blue .alert-box-content i + span,
.box-gray .alert-box-content i + span {
  height: 1.9rem;
}
.box-red {
  border-top-color: #e3536c;
}
.box-red .alert-box-content .mdi {
  color: #e3536c;
}
.box-yellow {
  border-top-color: #fedd6d;
}
.box-yellow .alert-box-content .mdi {
  color: #fedd6d;
}
.box-green {
  border-top-color: #78cfbf;
}
.box-green .alert-box-content .mdi {
  color: #78cfbf;
}
.box-blue {
  border-top-color: #44a2c6;
}
.box-blue .alert-box-content .mdi {
  color: #44a2c6;
}
.box-gray {
  border-top-color: #898f9f;
}
.box-gray .alert-box-content .mdi {
  color: #898f9f;
}
.alert-box {
  z-index: 10000000 !important;
}
.alert-box .box-hd {
  position: absolute;
  right: 5px;
  z-index: 1000;
  left: 0;
}
.alert-box .box-outer {
  z-index: 10000;
  margin-right: 20px;
}
.alert-is-header-box {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  color: #ffffff;
  border-top: none !important;
}
.alert-is-header-box .alert-box-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.alert-is-header-box .alert-box-content .mdi {
  color: #ffffff !important;
}
.alert-is-header-box .box-hd {
  position: absolute;
  right: 5px;
  z-index: 1000;
}
.alert-is-header-box .box-outer {
  margin-right: 20px;
}
.alert-is-header-box .box-top-buttons-close .mdi {
  color: #ffffff !important;
  opacity: 1;
}
.alert-is-header-box.box-red {
  background: #cd201f;
}
.alert-is-header-box.box-blue {
  background: #206bc4;
}
.alert-is-header-box.box-yellow {
  background: #fab005;
}
.alert-is-header-box.box-green {
  background: #5eba00;
}
.alert-is-header-box.box-gray {
  background: #555;
}
.box-confirm .box-confirm-inner-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
