@import (once) "../globals/variables";
@import (once) "../globals/mixins";

.popover-editable {
	max-width:350px;

	.popup-editable-content {
		padding:0 10px;
	}

	.popover-editable-control {
		padding:0 6px;

		& + .popover-editable-control {
			padding-left:0;
		}

		&.save {
			color:@brand-primary;
		}
		&.cancel {
			color:@gray-light-3x;
		}
		i.mdi {
			font-size:20px;
		}
	}

}

form.editable-form {
	position:relative;
	
	//top arrow
	&:before, &:after {
		content: "";
		position: absolute;
		z-index: 1000;
	}
	&:before {
		content: "";
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #007bff;
		top: -6px;
		left: 5%;
	}
	&:after {
		content: "";
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		top: -5px;
		left: calc(5% + 1px);
	}

	&[data-form-type="checkbox"] {
		&:before, &:after {
			display: none;
		}
	} 

	&[data-form-type="radio"] {
		border: 1px solid #007bff;
		background: #fff;
		padding-left: 22px;
		padding-top: 5px;
		border-radius: 3px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);

		&:before {
			top: -7px;
		}
		&:after {
			top: -6px;
		}
	}

	&[data-form-type="textarea"] {
		width: 100%;
	}

	.form-group, .form-control {
		width: 100%;
	}

	//summernote
	.note-editor {
		box-shadow: none;
		border-radius: 0.25rem;
		margin-bottom: 35px;

		.card-header:first-child {
			border-radius: calc(0.25rem - 1px) 0 0;
		}
		span {
			margin: 0 !important;
		}
	}
	.textarea-wysiwyg-controls {
		position: absolute;
		bottom: -34px;
		right: 7px;
		background: #f5f5f5;
		padding: 5px;
		border-bottom: 1px solid #a9a9a9;
		border-left: 1px solid #a9a9a9;
		border-right: 1px solid #a9a9a9;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		.control-item {

			.mdi:before {
				margin-top: 0;
			}
		}
	}
	.selectize-input, .form-control {
		border-color: #007bff;
	}

	.selectize-input {
		[data-value] {
			background-color: #1b9dec;
			color: #fff;

			.editable-text {
				color: #fff;
				font-size: .85rem;
			}

			.remove {
				border-left-color: #fff;
				top: 2px;
			}
		}
	}
	.selectize-dropdown-content {
		[data-value] {
			background-color: #fff;

			.editable-text {
				color: #007bff;
				font-size: .85rem;

				.highlight {
					background-color: @brand-light-blue-retro;
					color: #007bff;
				}
			}
		}
	}
}

//editable-target
.editable-target {
	cursor: pointer;
	border-bottom: 1px dashed @brand-primary;
	word-wrap: break-word;
	color: @brand-primary;

	&.readonly {
		border-bottom: none;
		cursor: default;
		color: inherit;
	}

	&.is-edited {
		.readonly;
		color: #7c7c7c !important;
		border-bottom: none;
		opacity: 0.5;
	}

	&.editable-wysiwyg {
		border-bottom: none;
		color: inherit;
		display: block;
		position: relative;
		padding: 0 5px;
		border: 1px dashed transparent;

		&:hover {
			border-color: @brand-primary;
		}
	}

	&[contenteditable="true"] {
		color: #c00 !important;
		outline: 0;
		border: none;
	}
}

//if there is no text, the cursor does not show unless we have padding-left specified
span.editable-target {
	&[contenteditable="true"] {
		padding-left: 1px;
	}
}

//shards-ui overrides
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
	right: -10px;
}

//datepicker overrides
.datepicker {
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell,"Helvetica Neue", sans-serif;
}