@import (once) "../globals/variables";
@import (once) "../globals/mixins";

//used in iscroll
.iscroll-spinner {
	display: block;
	width: 100%;
	margin:20px 0;

	.x-spinner {
		margin:0 auto;
	}
}
.iscroll-link {
	& + .iscroll-link {
		margin-left:20px;
	}
}

@-webkit-keyframes x-spinner { 0%   { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes x-spinner { 0%   { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.x-spinner {
	position: relative;
	height: 2em;
	width: 2em;
	overflow: visible;

	//blur
	&.blurred {
		position: absolute;
		z-index: 10000;
		width:100%;
		height:100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right:0;
			bottom:0;
			background-color: rgba(255,255,255,0.5);
		}

		&.dark:before {
			background-color: rgba(0,0,0,0.1);
		}
	}

	&:not(:required) {
		//hide text
		//font: 0/0 a;
		//color: transparent;
		//text-shadow: none;
		//background-color: transparent;
		//border: 0;

		//spinner
		&:after {
			content: '';
			display: block;
			position:absolute;
			top: 0;
			left: 0;
			right:0;
			bottom:0;
			margin:auto;
			width: 18px;
			height: 18px;
			box-sizing: border-box;
			border: solid 2px transparent;
			border-top-color: #29d;
			border-left-color: #29d;
			border-radius: 50%;
			animation: x-spinner 400ms linear infinite;
		}
	}
	span {
		display:inline-block;
		margin:7px 0 0 35px;
		color:#29d;
	}
	&.blur span {
		position:absolute;
		top: 46%;
		left: 47%;
	}
}