@import (once) "../globals/variables";
@import (once) "../globals/mixins"; 

.box {
	position:fixed;
	background:#fff;
	display:block;
	visibility:hidden;
	z-index:1001;
	top:0;
	left:0;
	box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.75);
	border-top:5px solid @brand-primary-retro;

	.box-outer {
		position:relative;
		z-index:503;
		padding:0;
		margin:10px;
		background:#fff;

		.box-inner {
			padding:10px;
			margin:0;

			.box-hd {
				position:absolute;
				top:-10px;
				left:0;
				height:40px;
				width:100%;
				padding:0;
				margin:0;
				font-size:18px;
				text-align:left;
				text-transform:uppercase;
				font-weight:normal;
				line-height:40px;
				color:@gray-lighter;
				font-style:italic;

				span {
					padding-left:10px;

					a {
						&:not(.box-boxcls) {
							text-decoration:none;
							&:hover { text-decoration:underline; }
						}
					}

					& + span { padding-left:0; }
				}

			} //.box-hd
			.box-mainbody {
				width:100%;
				margin:20px 0 0 0;
				padding:0;
				overflow:auto;
				overscroll-bahavior:contain;

				//form-group
				.form-group {
					margin-left:0;
					margin-right:0;
				}
			}

		} // .box-inner

		// buttons
		.box-top-buttons {
			position:absolute;
			top:-10px;
			right:-10px;
			margin:0;

			a {
				display:inline-block;
				margin:0;
				padding:1px 3px;

				i.mdi {
					color:#cdcdcd;

					&:hover { color:#999; }
				}

				&.box-top-buttons-maximize {
					.mdi-24px {

						&:before {
							font-size: 22px;
						}
					}
				}

				&:last-child { margin-right:2px; }
			}
		}
	}

	&.maximized {
		.box-top-buttons {
			.box-top-buttons-maximize {
				background: #eee;
			}
		}
	}

	// controls
	.box-controls {
		position:absolute;
		bottom:0;
		left:0;
		margin:0;
		padding:10px 0;
		z-index:1004;
		width:100% !important;

		&.expressed { background:#eaeaea; }

		.box-controls-controls { display:inline-block; margin-left:12px; }
		.box-controls-result { display:inline-block; margin-left:10px; font-weight:normal; color:@gray; min-width:1px; }
		.box-controls-close { float:right; margin-right:12px; margin-top:2px; }
	}

	&.input-box .box-mainbody { position:relative; } // if the box is used for data input, make main-body have relative position

	&.light {
		box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);

		.box-outer {

			.box-inner {
				padding:0 15px 0 0;

				.box-mainbody { margin:0; }
			}

			.box-top-buttons {
				a:last-child { margin-right:0; }
			}
		}
	}

	&.box-confirm {
		border:none;

		button + button { margin-left:5px; }
	}

	// alerts
	&.box-red, &.box-yellow, &.box-blue, &.box-green, &.box-gray {
		border:none;
		z-index:10000000 !important;

		.box-outer, & .box-inner { background:transparent; }

		ul.box-top-buttons { top:-20px; right:-20px; }
	}

} //.box

//some adjustment needed for mdi icons
.mdi-close:before {
	margin-top: 5px;
}

// scrollable content
.box-scrollable {
	background:transparent;
	position:fixed;
	z-index:1000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	outline:0 none;
	overflow-x:auto;
	overflow-y:scroll;

	.box { position:relative; margin:30px auto; }
}

/*
	ALERT BOX
	=================================================
*/
.box-red, .box-yellow, .box-green, .box-blue, .box-gray {
	padding:10px;
	margin-bottom:10px;
	border-style:solid;
	border-width:2px;

	a { background:none; padding:0; margin:0; }
	i.mdi { margin-right:10px; }
}

.box- {
	&red {
		border-color:darken(@brand-danger,20%);
		background:@state-danger-bg;
		color:darken(@brand-danger,10%);

		&.soft {
			border-color: #fff;
			background: #fff;
			color: #4c4c4c;

			.mdi {
				color: #d9534f;
			}
		}
	}
	&yellow {
		border-color:darken(@brand-warning,20%);
		background:@state-warning-bg !important;
		color:darken(@brand-warning,20%);
	}
	&green {
		border-color:darken(@brand-success,20%);
		background:@state-success-bg !important;
		color:darken(@brand-success,20%);
	}
	&blue {
		border-color:darken(@brand-info,20%);
		background:@state-info-bg !important;
		color:darken(@brand-info,20%);
	}
	&gray {
		border-color:@gray-lighter;
		background:@gray-lighter !important;
		color:#f7f7f7;
	}
}

.alert-box {
	z-index:10000000 !important;
}