@import (once) "../globals/variables";
@import (once) "../globals/mixins";

.box {
	position: fixed;
	background: #fff;
	display: flex;
	flex-flow: column;
	visibility: hidden;
	z-index: 1001;
	top: 0;
	left: 0;
	box-shadow:  0px 3px 6px 0px rgba(50, 50, 50, 0.75);
	border-top: 5px solid @brand-primary-retro;

	//if the box is used for data input, make main-body have relative position
	&.input-box .box-mainbody {
		position: relative;
	}

	&.light {
		box-shadow:  0px 1px 3px 0px rgba(50, 50, 50, 0.75);

		.box-outer {

			.box-inner {
				padding: 0 15px 0 0; 

				.box-mainbody { margin: 0; }
			}

			.box-top-buttons {
				a:last-child { margin-right: 0; }
			}
		}
	}

	&.box-confirm {
		border: none;

		button + button { margin-left: 5px; }
	}

	//alerts
	&.box-red, &.box-yellow, &.box-blue, &.box-green, &.box-gray {
		z-index: 10000000 !important;

		.box-outer, & .box-inner { background: transparent; }

		ul.box-top-buttons {
			top: -20px;
			right: -20px;
		}
	}
} //.box

.box-outer {
	position: relative;
	z-index: 503;
	padding: 0;
	margin: 10px;
	background: #fff;
}

.box-inner {
	padding: 10px;
	margin: 0;
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box-hd {
	position: absolute;
	top: -10px;
	left: 0;
	height: 40px;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
	text-align: left;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 40px;
	color: @gray-light-3x;
	font-style: italic;

	span {
		padding-left: 10px;

		a {
			&:not(.box-boxcls) {
				text-decoration: none;
				&:hover { text-decoration: underline; }
			}
		}

		& + span { padding-left: 0; }
	}

}

.box-timestamp {
	margin-right: 10px;
	margin-top: 2px;
}

.box-mainbody {
	width:  100%;
	margin:  20px 0 0 0;
	padding:  0;
	overflow:  auto;
	overscroll-bahavior:  contain;
	flex-basis: 100%;

	//form-group
	.form-group {
		margin-left: 0;
		margin-right: 0;
	}
}

// buttons
.box-top-buttons {
	position: absolute;
	top: -15px;
	right: -10px;
	display: flex;

	a {
		font-size: 1.1rem;

		i.mdi {
			color: #000;
			opacity: 0.5;

			&:hover { color: #999; }
		}
		
		&:last-child { margin-right: 2px; }
	}

	.alert-box & {
		top: -20px;
		right: -23px;
	}
}

.box-top-buttons-maximize {
	margin-top: 3px;
	margin-right: 3px;

	.mdi-24px {
		&:before {
			font-size:  22px;
		}
	}

	.maximized & {
		background:  #eee;
	}
}

// controls
.box-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 10px 0;
	z-index: 1004;
	width: 100% !important;

	&.expressed { background: #eaeaea; }

	.controls-wrapper {
		display: flex;
	}

	.box-controls-controls { margin-left: 12px; }
	.box-controls-result { margin-left: 10px; font-weight: normal; color: @gray; min-width: 1px; }
	.box-controls-close { margin-left: auto; margin-right: 12px; margin-top: 2px; }
}

//some adjustment needed for mdi icons
.mdi-close:before {
	margin-top:  5px;
}

// scrollable content
.box-scrollable {
	background: transparent;
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	outline: 0 none;
	overflow-x: auto;
	overflow-y: scroll;

	.box {
		position: relative;
		margin: 30px auto;
	}
}

/*
	ALERT Box
	=================================================
*/
.box-red, .box-yellow, .box-green, .box-blue, .box-gray {
	padding: 10px;
	margin-bottom: 10px;
	font-size: .875rem;
	background-color: #ffffffd9;
	background-clip: padding-box;
	border: 1px solid #0000001a;
	box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
	backdrop-filter: blur(10px);
	border-radius: .25rem;
	border-top: 3px solid @brand-primary-retro;
	color: #000;

	a {
		background: none;
		padding: 0;
		margin: 0;
	}
	i.mdi { margin-right: 10px; }

	.alert-box-content {
		display: flex;
		flex-flow: row;
	}
}

.box- {
	&red {
		border-top-color: @brand-danger-retro;

		.alert-box-content .mdi {
			color: @brand-danger-retro;
		}
	}
	&yellow {
		border-top-color: @brand-warning-retro;

		.alert-box-content .mdi {
			color: @brand-warning-retro;
		}
	}
	&green {
		border-top-color: @brand-success-retro;

		.alert-box-content .mdi {
			color: @brand-success-retro;
		}
	}
	&blue {
		border-top-color: @brand-primary-retro;

		.alert-box-content .mdi {
			color: @brand-primary-retro;
		}
	}
	&gray {
		border-top-color: @gray-light-1x;

		.alert-box-content .mdi {
			color: @gray-light-1x;
		}
	}
}

.alert-box {
	z-index:  10000000 !important;
	
}